<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>보호자 관리</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" /> 
</head>

<body class="">
    
    <!-- main -->
    <main class="main">
        <div class="pagetitle">
          <h2 class="text-center">보호자 관리</h2>
          <div class="iconL"><img src="../../../public/static/images/Pre_arr.svg" alt="pre" width=" " height=" " class=" flex-shrink-0"></div>
        </div>
        <div class="container d-flex px-0">
            <table class="table table-hover align-middle">
                <thead class="table-light">
                  <tr>
                    <th scope="col" class="ps-3" style="width: 32%;">이름</th>
                    <th scope="col" style="width: 50%;">핸드폰번호</th>
                    <th scope="col" class="ps-3"  style="width: 18%;">삭제</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="ps-3">보호자</td>
                    <td>010-1234-5678</td>
                    <td><img src="../../../public/static/images/bin.svg" alt="삭제"></td>
                  </tr>
                  <tr>
                    <td class="ps-3">보호자</td>
                    <td>010-1234-5678</td>
                    <td><img src="../../../public/static/images/bin.svg" alt="삭제"></td>
                  </tr>
                  <tr>
                    <td class="ps-3">보호자</td>
                    <td>010-1234-5678</td>
                    <td><img src="../../../public/static/images/bin.svg" alt="삭제"></td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="btn_wrap">
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-style-1">보호자 추가 +</button>
            </div>     
        
          </div>
        </div>
    </main>

  <!-- Scripts -->
  <script src="js/bootstrap.bundle.min.js" ></script>

</body>
</html>