<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kokasin 등록하기</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" /> 
</head>

<body>
        <!-- Header -->    

        <!-- main -->
        <main class="main">
            <form method="post" class="signIn" >
                <h1 class="text-center pb-5"><img src="../../../public/static/images/kokasin_logo.svg" alt="kt꼬까신"></h1>
                <div class="mb-4">
                    <label for="loginId" class="form-label kksColorPrimary fw-bold">보호자 핸드폰번호</label>
                    <input type="text" class="form-control" id="loginId" name="loginId" placeholder="핸드폰번호 입력" >
                </div>
                <div class="mb-4">
                    <label for="loginPw" class="form-label kksColorPrimary fw-bold">비밀번호</label>
                    <input type="password" class="form-control" id="loginPw" name="password" placeholder="**** " >
                </div>
                <div class="mb-4">
                    <label for="loginPwOk" class="form-label kksColorPrimary fw-bold">비밀번호확인</label>
                    <input type="password" class="form-control" id="loginPwOk" name="password" placeholder="**** " >
                </div>                
                <div class="mb-4">
                    <input type="checkbox" id="agree_" name=" " class="form-check-input">
                    <label for="agree_"><span class="">약관 및 개인정보 수집 동의</span></label>
                    <span style="display: inline-block; float: right;"> <img src="../../../public/static/images/Next_arr.svg" alt="더보기"> </span>
                </div>
                <div class="btn_wrap">
                    <button type="submit" class="btn btn-style-1">로그인</button>
                </div>
                
            </form>           
        </main>

        <!--footer-->
        <footer class="footer">
            <div class=""></div>
            <div class="footer_copyright"></div>
        </footer>
        <!--// footer-->


    <!-- Scripts -->
    <script src="js/bootstrap.bundle.min.js" ></script>
</body>
</html>